In [6]:
#task1
import sqlite3 
con=sqlite3.connect("Classmate.db")
cursorobj=con.cursor()
cursorobj.execute("""CREATE TABLE classmates 
            (student_id integer PRIMARY KEY,name text,age integer,contact_number text,address text,birthday text,hobbies text)
""")

In [76]:
def insert_classmate(con,entry):
    cursorobj.execute("""INSERT INTO classmates
    (student_id,name,age,contact_number,address,birthday,hobbies)
    VALUES(?,?,?,?,?,?,?)
    """,entry)
    con.commit()
def update_classmate(con,std_id,cell_no):
    cursorobj.execute("""UPDATE classmates SET contact_number=?
    WHERE student_id=?
    """,(cell_no,std_id,))
    con.commit()
def delete_classmate(con,std_id):
    cursorobj.execute("""DELETE FROM classmates WHERE student_id=?
    """,(std_id,))
    con.commit()
def get_all_classmate(con):
    cursorobj.execute("SELECT *FROM classmates")
    con.commit()
    return cursorobj.fetchall()
def get_samemonth(con):
    cursorobj.execute("SELECT DISTINCT birthday FROM classmates")
    con.commit
    row=cursorobj.fetchall()
    return row
def get_same_hobbies(con):
    cursorobj.execute("""SELECT DISTINCT hobbies 
    FROM classmates""")
    con.commit()
    row=cursorobj.fetchall()
    return row
def get_same_age(con,name):
    cursorobj.execute("""SELECT DISTINCT age FROM classmates 
    WHERE name=?
    """,(name,))
    con.commit()
    row=cursorobj.fetchall()
    return row
def get_same_address(con,name):
    cursorobj.execute("""SELECT DISTINCT address FROM classmates
    WHERE name=?
    """,(name,))
    row=cursorobj.fetchall()
    return row

In [66]:
c1=[1,'usama',19,'03312357677','karachi','1999','cricket']
c2=[2,'imran',19,'03212091450','karachi','1999','cricket']
c3=[3,'wasi',20,'03324587691','islamabad','1998','cricket']
c4=[4,'basit',22,'03451243431','lahore','1996','swimming']
c5=[5,'bilal',21,'03080091450','multan','1997','football']
c6=[6,'umar',18,'03411457272','hedrabad','2000','football']
c7=[7,'ali',20,'03247923479','karachi','1998','not playing']

In [67]:
insert_classmate(con,c1)
insert_classmate(con,c2)
insert_classmate(con,c3)
insert_classmate(con,c4)
insert_classmate(con,c5)
insert_classmate(con,c6)
insert_classmate(con,c7)

In [68]:
update_classmate(con,6,'03352456879')

In [69]:
delete_classmate(con,4)

In [70]:
get_all_classmate(con)

[(1, 'usama', 19, '03312357677', 'karachi', '1999', 'cricket'),
 (2, 'imran', 19, '03212091450', 'karachi', '1999', 'cricket'),
 (3, 'wasi', 20, '03324587691', 'islamabad', '1998', 'cricket'),
 (5, 'bilal', 21, '03080091450', 'multan', '1997', 'football'),
 (6, 'umar', 18, '03352456879', 'hedrabad', '2000', 'football'),
 (7, 'ali', 20, '03247923479', 'karachi', '1998', 'not playing')]

In [74]:
get_same_address(con,'usama')

[('karachi',)]

In [72]:
get_same_hobbies(con)

[('cricket',), ('football',), ('not playing',)]

In [73]:
get_same_age(con,"usama")

[(19,)]

In [77]:
get_samemonth(con)

[('1999',), ('1998',), ('1997',), ('2000',)]

In [86]:
# Home task3
import sqlite3
con=sqlite3.connect("book_info.db")
cobj=con.cursor()
cobj.execute("""CREATE TABLE books 
        (book_id integer PRIMARY KEY,book_title text,book_author text,publisher text,year_of_publish text,
        price interger,pages integer,format text)
""")

In [114]:
def insert_book(con,entry):
    cobj.execute("""INSERT INTO books(book_id,book_title,book_author,publisher,
    year_of_publish,price,pages,format) VALUES(?,?,?,?,?,?,?,?)
    """,entry)
    con.commit()
def update_book(con,book_id,price):
    cobj.execute("UPDATE books SET price=? WHERE book_id=? ",(price,book_id))
    con.commit()
def delete_book(con,book_id):
    cobj.execute("""DELETE FROM books WHERE book_id=?
    """,(book_id,))
    con.commit()
def getall_books(con):
    cobj.execute("""
    SELECt *FROM books
    """)
    con.commit()
    allbooks=cobj.fetchall()
    return allbooks
def getone_books(con,book_id):
    cobj.execute("""
    SELECT *FROM books WHERE book_id=?
    """,(book_id,))
    con.commit()
    onebook=cobj.fetchone()
    return onebook

In [88]:
b1=[1,'introduction to python','chrollet','xyz','1990',2000,200,"softcopy"]
b2=[2,'learn data science','chrollet','xyz','2008',5000,250,"softcopy"]
b3=[3,'data visualization using pandas and matplotlib','chrollet','xyz','2010',2192,500,"softcopy"]

In [119]:
insert_book(con,b1)
insert_book(con,b2)
insert_book(con,b3)

In [121]:
update_book(con,2,5999)

In [120]:
delete_book(con,3)

In [123]:
getone_books(con,2)

(2, 'learn data science', 'chrollet', 'xyz', '2008', 5999, 250, 'softcopy')

In [122]:
getall_books(con)

[(1,
  'introduction to python',
  'chrollet',
  'xyz',
  '1990',
  2000,
  200,
  'softcopy'),
 (2, 'learn data science', 'chrollet', 'xyz', '2008', 5999, 250, 'softcopy')]