In [46]:
#task1
import sqlite3
con= sqlite3.connect('imranriazchohan.db')

In [47]:
#task2
con=sqlite3.connect("imranriazchohan.db")
cursorobj=con.cursor()

In [48]:
#task3
con=sqlite3.connect("imranriazchohan.db")
def sql_connection():
    try:
        con=sqlite3.connect("imranriazchohan.db")
        return con
    except Error:
        print(Error)
def sql_table(con):
    cursorobj=con.cursor()
    #cursorobj.execute("CREATE TABLE employee(id integer,PRIMARY KEY,name text,salary real,department text,position text,hireDate text)")
    cursorobj.execute("CREATE TABLE employees(id integer PRIMARY KEY,name text, salary real, department text, position text, hireDate text)")
    con.commit()
con=sql_connection()
sql_table(con)

In [49]:
#task4
con=sqlite3.connect("imranriazchohan.db")
cursorobj=con.cursor()
cursorobj.execute("INSERT INTO employees VALUES(100,'Imranriazchohan',200000,'CS','junior professor','2022-012-1')")
cursorobj.execute("INSERT INTO employees VALUES(101,'hassan',500000,'SE','junior professor','2025-012-1')")
cursorobj.execute("INSERT INTO employees VALUES(102,'wasi ur rehman',600000,'CS','data scientist','2021-012-1')")
con.commit()

In [50]:
#task5
con=sqlite3.connect("imranriazchohan.db")
def sql_insert(con,entries):
    cursorobj=con.cursor()
    cursorobj.execute("INSERT INTO employees (id,name,salary,department,position,hireDate) VALUES(?,?,?,?,?,?)",entries)
    con.commit()
entries=(4,'usama',200000,'cs','Teacher Assistant','2016-12-1')
sql_insert(con,entries)

In [51]:
#task6
con=sqlite3.connect("imranriazchohan.db")
def update(con):
    cursorobj=con.cursor()
    cursorobj.execute("UPDATE employees SET name='Lubaid ahmed' where id=4")
    con.commit()
update(con)

In [52]:
#task7
con=sqlite3.connect('imranriazchohan.db')
def sql_fetch(con):
    cursorobj=con.cursor()
    cursorobj.execute('SELECT id,name FROM employees')
    row=cursorobj.fetchall()
    for r in row:
        print(r)
sql_fetch(con)

(4, 'Lubaid ahmed')
(100, 'Imranriazchohan')
(101, 'hassan')
(102, 'wasi ur rehman')

In [53]:
#task8
con=sqlite3.connect('imranriazchohan.db')
def sql_fetch(con):
    cursorobj=con.cursor()
    cursorobj.execute("SELECT * FROM employees")
    row=cursorobj.fetchall()
    for r in row:
        print(r)
sql_fetch(con)

(4, 'Lubaid ahmed', 200000.0, 'cs', 'Teacher Assistant', '2016-12-1')
(100, 'Imranriazchohan', 200000.0, 'CS', 'junior professor', '2022-012-1')
(101, 'hassan', 500000.0, 'SE', 'junior professor', '2025-012-1')
(102, 'wasi ur rehman', 600000.0, 'CS', 'data scientist', '2021-012-1')